# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet raiz
	<?php echo RAIZ_SITE; ?>
snippet tpl
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8" />
		<title>${1}</title>
	</head>
	<body>
		<h1>${2}</h1>
		
		${3}

	</body>
	</html>
